################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DestinationboardServer/bin/Debug/net5.0
/DestinationboardServer/Migrations
/DestinationboardServer/obj
/.vs/DestinationboardServer/v16
/.vs/DestinationboardServer/DesignTimeBuild
/DestinationboardServer/bin/Release
/DestinationboardServerTests/bin
/DestinationboardServerTests/obj
